* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*  ----------------------------------------  Header ---------------------------------------- */
.cabecalho {
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho ul {
    display: flex;
    justify-content: space-between;
}

.cabecalho ul li {
    list-style-type: none;
    padding: 16px;
}

.cabecalho ul li a {
    text-decoration: none;
    color: #EDEDED;
}

.cabecalho-botao {
    background-color: #EDEDED;
    border: none;
    padding: 15px 32px;
    margin-right: 16px;
    border-radius: 10px;
}



/* ---------------------------------------- Main ---------------------------------------- */
/*Pagina Index*/
.index-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color:#171717;
}

.index-corpo section {
    background-color: #171717;
    margin-bottom: 100px;
    color: #EDEDED;
}

.index-corpo section h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.index-slide {
    display: block;
    height: 295px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-color: #171717;
}

.index-slide-li-filmes {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
}

.index-slide-li-oficinas{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;   
}

.index-slide li p {
    display: flex;
    width: 70%;
    text-align: justify;
    color:#EDEDED;
    opacity: 0;
    visibility: hidden;
    font-size: 0.90em;
}

.index-slide img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: auto;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.index-slide input {
    display: none;
}

.index-slide label {
    background-color: #EDEDED;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: relative;
    width: 10px;
    z-index: 10;
}

.index-slide li:nth-child(1) label {
    left: 10px;
}

.index-slide li:nth-child(2) label {
    left: 40px;
}

.index-slide li:nth-child(3) label {
    left: 70px;
}

.index-slide li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.index-slide li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.index-slide li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.index-slide li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*Pagina Ingressos*/
.ingressos-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color: #171717;
}

.ingressos-corpo section{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background-color: #171717;
    color:  #EDEDED;
}

#ingressos-cartaz{
    display: flex;

}

#ingressos-breve{
    display: flex;

}

.ingressos-corpo section h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding: 10px;
}

.ingressos-bloco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingressos-bloco-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding-bottom: 25px;
}

.ingressos-bloco-card img{
    max-height: 265px;
    max-width: 180px;
}

.ingressos-bloco-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.90em;
    color: #EDEDED;
    margin-top: 10px;
}

.ingressos-card-container-span-black {
    background-color: black;
    padding: 4px;
}

.ingressos-card-container-span-laranja {
    background-color: orange;
    padding: 4px;
}
.ingressos-card-container-span-amarelo {
    background-color: rgba(255, 255, 0, 0.836);
    padding: 4px;
}

.ingressos-bloco-card-container button {
    background-color: #EDEDED;
    border: none;
    padding: 5px;
    margin-top: 10px;
}

.ingressos-agendamento{
    display: flex;
    justify-content: center;

}

#ingressos-agendamento-bloco{
    display: flex;
    justify-content: space-between;
}

#ingressos-agendamento-bloco-filmes{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 20px;
}

#ingressos-agendamento-bloco-filmes img{
    max-height: 265px;
    max-width: 180px;
}

#ingressos-agendamento-bloco-filmes p{
    text-align: justify;
    color:#EDEDED;
    font-size: 0.90em;
}

#ingressos-agendamento-bloco-agenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    max-height: 50%;
    padding: 10px;
}

#ingressos-agendamento-bloco-agenda div{
    padding: 10px;
}

#ingressos-agendamento-bloco-agenda div a button{
    background-color: #EDEDED;
    border: none;
    padding: 5px 15px 5px 15px;
}

#ingressos-agendamento-bloco-agenda div span{
    border-right-style: solid;
    border-color:  #EDEDED;
    padding-right: 10px;
    color: #EDEDED;
}

/*Pagina Oficinas*/
.oficinas-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color:#171717;
}

.oficinas-corpo h1{
    margin-top: 10px;
}

.oficinas-corpo section{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    margin-bottom: 100px;
    background-color: #171717;
    color: #EDEDED;
    align-items: center;
}

.oficinas-bloco-card{ 
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

.oficinas-bloco-card-texto{
    margin-left: 10px;
    text-align: justify;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.btn-agendar-oficinas{
    width: 30%;
    border: #000000;
    color: #171717;
    background-color: #EDEDED;
}

.cabecalho-botao{
    color: #171717;
    background-color:  white;
}

/*Pagina cadastro*/

 .cadastro-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color: #171717;
}

.cadastro-corpo h2{
    margin-top: 10px;
}

.cadastro-corpo section{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background-color: #171717;
    color:  #EDEDED;
    align-items: center;
}

.cadastro-corpo section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .cadastro-corpo section label {
    margin-bottom: .2rem;
    position: relative;
  }
  
  .cadastro-corpo section input {
    padding: .2rem .5rem;
  }
  
  .btn-cadastro {
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
    border: #000000;
    color: #171717;
    background-color:  #EDEDED;
    border-radius: 10px;
}
    .cadastro-corpo section form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #171717;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }

  .cadastro-corpo section label:not(:first-of-type) {
    margin-top: 1rem;
  }
  
/* ---------------------------------------- sobre ---------------------------------------- */

 .sobre-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color: #171717;
}

.sobre-corpo h2{
    margin-top: 10px;
}

.sobre-corpo section{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    margin-bottom: 100px;
    background-color: #171717;
    color: #EDEDED;
    align-items: center;
}

.sobre-corpo section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
.sobre-corpo section form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #171717;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }

  .sobre-card{ 
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

.sobre-card-texto{
    margin-left: 10px;
    text-align: justify;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

  .sobre-corpo section label:not(:first-of-type) {
    margin-top: 1rem;
  }

/* ---------------------------------------- login ---------------------------------------- */


.login-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color:#171717;
}

.login-corpo h2{
    margin-top: 10px;
}

.login-corpo section{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background-color: #171717;
    color:  #EDEDED;
    align-items: center;
}

.login-corpo section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
.login-corpo section label {
    margin-bottom: .2rem;
    position: relative;
  }
  
.login-corpo section input {
    padding: .2rem .5rem;
  }
  
.btn-login {
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
    border: #000000;
    color: #171717;
    background-color:  #EDEDED;
    border-radius: 10px;
}
.login-corpo section form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #171717;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }

  .login-corpo section label:not(:first-of-type) {
    margin-top: 1rem;
  }
  

/* ---------------------------------------- footer ---------------------------------------- */
footer {
    display: flex;
    padding: 30px 100px 30px 100px;
    background-color: #171717;
    color: #EDEDED;

}

/*
Cores da paleta:
#171717 preto
#444444 cinza
#EDEDED branco
*/
