* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*  ----------------------------------------  Header ---------------------------------------- */
.cabecalho {
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho ul {
    display: flex;
    justify-content: space-between;
}

.cabecalho ul li {
    list-style-type: none;
    padding: 16px;
}

.cabecalho ul li a {
    text-decoration: none;
    color: #EDEDED;
}

.cabecalho-botao {
    background-color: #EDEDED;
    border: none;
    padding: 15px 32px;
    margin-right: 16px;
}

/* ---------------------------------------- Main ---------------------------------------- */
/*Pagina Index*/
.index-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color: #EDEDED;
}

.index-corpo section {
    background-color: #171717;
    margin-bottom: 100px;
    color: #DA0037;
}

.index-corpo section h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.index-slide {
    display: block;
    height: 295px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-color: #171717;
}

.index-slide-li-filmes {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
}

.index-slide-li-oficinas{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;   
}

.index-slide li p {
    display: flex;
    width: 70%;
    text-align: justify;
    color:#EDEDED;
    opacity: 0;
    visibility: hidden;
    font-size: 0.90em;
}

.index-slide img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: auto;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.index-slide input {
    display: none;
}

.index-slide label {
    background-color: #EDEDED;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: relative;
    width: 10px;
    z-index: 10;
}

.index-slide li:nth-child(1) label {
    left: 10px;
}

.index-slide li:nth-child(2) label {
    left: 40px;
}

.index-slide li:nth-child(3) label {
    left: 70px;
}

.index-slide li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.index-slide li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.index-slide li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.index-slide li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*Pagina Ingressos*/
.ingressos-corpo {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    background-color: #EDEDED;
}

.ingressos-corpo section{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background-color: #171717;
    color: #DA0037;
}

#ingressos-cartaz{
    display: flex;

}

#ingressos-breve{
    display: flex;

}

.ingressos-corpo section h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding: 10px;
}

.ingressos-bloco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingressos-bloco-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding-bottom: 25px;
}

.ingressos-bloco-card img{
    max-height: 265px;
    max-width: 180px;
}

.ingressos-bloco-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.90em;
    color: #EDEDED;
    margin-top: 10px;
}

.ingressos-card-container-span-black {
    background-color: black;
    padding: 4px;
}

.ingressos-card-container-span-laranja {
    background-color: orange;
    padding: 4px;
}
.ingressos-card-container-span-amarelo {
    background-color: rgba(255, 255, 0, 0.836);
    padding: 4px;
}

.ingressos-bloco-card-container button {
    background-color: #EDEDED;
    border: none;
    padding: 5px;
    margin-top: 10px;
}

.ingressos-agendamento{
    display: flex;
    justify-content: center;

}

#ingressos-agendamento-bloco{
    display: flex;
    justify-content: space-between;
}

#ingressos-agendamento-bloco-filmes{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 20px;
}

#ingressos-agendamento-bloco-filmes img{
    max-height: 265px;
    max-width: 180px;
}

#ingressos-agendamento-bloco-filmes p{
    text-align: justify;
    color:#EDEDED;
    font-size: 0.90em;
}

#ingressos-agendamento-bloco-agenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    max-height: 50%;
    padding: 10px;
}

#ingressos-agendamento-bloco-agenda div{
    padding: 10px;
}

#ingressos-agendamento-bloco-agenda div a button{
    background-color: #EDEDED;
    border: none;
    padding: 5px 15px 5px 15px;
}

#ingressos-agendamento-bloco-agenda div span{
    border-right-style: solid;
    border-color: #DA0037;
    padding-right: 10px;
    color: #EDEDED;
}

/* ---------------------------------------- footer ---------------------------------------- */
footer {
    display: flex;
    padding: 30px 100px 30px 100px;
    background-color: #171717;
    color: #EDEDED;

}

/*
Cores da paleta:
#171717 preto
#444444 cinza
#DA0037 vermelho
#EDEDED branco
*/